@import './mixins.scss';
@import './colors.scss';

footer {
  @include raleway();
  background: #000;
  color: #333333;
  
  a {
    color: #333333;

    :hover {
      color: #585858;
    }
  }

  .inner-footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 5px;

    ul:first-child {
      float: left;
      display: inline-block;

      li {
        border-right: 1px solid #333;
      }
      li:last-child {
        border: none;
      }
    }
  }

  .social {
    float: right;

    li {
      a {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: #333333;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
        
        :hover {
          background-color: #585858;
        }
        
      }
    }

    .facebook {
      background-image: url('../images/facebook-16.png');
    }
    .twitter {
      background-image: url('../images/twitter-16.png');
    }
    .instagram {
      background-image: url('../images/instagram-16.png');
    }
    .youtube {
      background-image: url('../images/youtube-16.png');
    }
  }
}