@import './mixins.scss';
@import './colors.scss';

.form_wrap {
  padding: 50px 0;
  text-align: center;
}

.shit_form {
  height: auto;
  width: 100%;

  input,
  textarea {
    border: 1px solid #000;
    width: 80%;
    margin: 10px 6px;
    border-radius: 0;

    &:active {
      border: 1px solid #a34e29;
    }
    
    &.inline {
      width: 38%;
      display: inline-block;
    }
  }

  textarea {
    min-height: 280px;
  }

  input {
    height: 40px;
  }

  .SS_btn {
    width: 82%;
    color: $burnt;
    font-size: 16px;
    font-weight: bolder;
    margin: 5px auto;
  }
}
