$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import './nav.scss';
@import './form.scss';
@import './footer.scss';

p {
  line-height: 27.5px;
  font-size: 18px;
}

.hero-unit {
  margin: 0 auto 0 auto;
  width: 630px;
  background: transparent;
  position: relative;

  h2 {
    margin: 85px auto;
    color: #FFF;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
  
  }

  .SS_btn {
    position: absolute;
    left: 35%;
    top: 80%;
  }
}

.light {
  font-size: 14px;
  font-weiht: lighter;
}

.SS_btn {
  color: #FFF;
  padding: 15px;
  border: 2px solid;
  border-radius: 0;
  margin: 0 auto;
}

body > .container {
  width: 100%;
}

header {
  display: block;
  background: url('../images/hero_bg.png') no-repeat;
  background-size: cover;
  height: 500px;
}


section > article {
  width: 500px;
  border-bottom: 10px solid #A34E29;
  text-align: center;
  padding: 50px 15px;
  margin: 49px auto;

  h4 {
    margin-bottom: 50px;
  }
}

.about {
  background: #1a1a1a;
  color: #fff;

  article {
    height: 160px;
  }
}

.rewards {
  background: url('../images/SS_copies_large.png') no-repeat;
  background-size: cover;

  article {
    height: 160px;
    background: #FFF;
  }
}

.rules {
  
}

.rules {
  background: #a34e29;
  color: white;
  text-align: center;
  
  a {
    display: inline-block;
    width: 100%;
    color: #70351c;
  }
  
  ul {
    width: 40%;
    float: right;
    text-align: left;
  }
  
  ul.one {
    float: left;
  }
}

.terms {
  background: #1a1a1a;
  color: #fff;
  line-height: 23px;
  > article {
    width: 500px;
    text-align: center;
    padding: 0px 15px;
    margin: 45px auto;
    border: none;
    font-weight: lighter;

    h4 {
       font-size: 14px;
    }
  }
}