$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@import 'sass-bootstrap/lib/bootstrap.scss';
@import 'sass-bootstrap/lib/responsive.scss';
@import './mixins.scss';
@import './colors.scss';
@import './nav.scss';
@import './form.scss';
@import './footer.scss';

body {
  font-family: 'PT Serif', serif;
}

p {
  line-height: 27.5px;
  font-size: 18px;
  font-weight: lighter;
}

.hero-unit {
  margin: 0 auto 0 auto;
  width: 630px;
  background: transparent;
  position: relative;

  h2 {
    line-height: 110%;
    margin: 85px auto;
    color: $white;
    font-size: 70px;
    text-align: center;
  }

  .SS_btn {
    position: absolute;
    left: 35%;
    top: 80%;
  }
}

.SS_btn {
  @include raleway();
  color: $white;
  padding: 15px;
  border: 2px solid;
  border-radius: 0;
  margin: 0 auto;
  background: transparent;
}

.section-title {
  @include raleway();
  margin-bottom: 50px;
}

body > .container {
  width: 100%;
}

header {
  display: block;
  background: url('../images/hero_bg.png') no-repeat;
  background-size: cover;
  height: 500px;
}


section > article {
  width: 500px;
  border-bottom: 10px solid $burnt;
  text-align: center;
  padding: 50px 15px;
  margin: 49px auto;

  h4 {
    margin-bottom: 50px;
  }
}

.about {
  background: $black;
  color: $white;

  article {
    height: 160px;
  }
}

.rewards {
  background: url('../images/SS_copies_large.png') no-repeat;
  background-size: cover;

  article {
    height: 160px;
    background: $white;
  }
}

.rules {
  
}

.rules {
  background: $burnt;
  color: $white;
  text-align: center;
  
  a {
    display: inline-block;
    width: 100%;
    color: $burnt;
  }
  
  ul {
    width: 40%;
    float: right;
    text-align: left;
  }
  
  ul.one {
    float: left;
  }
}

.terms {
  background: $black;
  color: $white;
  line-height: 23px;
  > article {
    width: 500px;
    text-align: center;
    padding: 0px 15px;
    margin: 45px auto;
    border: none;
    font-weight: lighter;

    p {
      @include light();
    }
    .section-title {
       font-size: 14px;
    }
  }
}