$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@import 'sass-bootstrap/lib/bootstrap';
@import './mixins.scss';
@import './colors.scss';
@import './nav.scss';
@import './form.scss';
@import './footer.scss';

body {
  font-family: 'PT Serif', serif;
}

p {
  line-height: 27.5px;
  font-size: 18px;
  font-weight: lighter;
}

.hero {
  display: block;
  background: url('../images/hero_bg.png') no-repeat;
  background-size: cover;
  height: 1000px;
}

.why {
  background: transparent;
  position: relative;
  text-align: center;
  width: 750px;

  h2 {
    line-height: 110%;
    margin: 55px auto;
    color: $white;
    font-size: 70px;
    text-align: center;
  }

  .SS_btn {
    margin: 50px;
    display: inline-block;
  }
}

.SS_btn {
  @include raleway();
  color: $white;
  padding: 15px;
  border: 2px solid;
  border-radius: 0;
  margin: 0 auto;
  background: transparent;
}

.section-title {
  @include raleway();
}

body > .container {
  width: 100%;
}

header {
  display: block;
  background: url('../images/hero_bg.png') no-repeat;
  background-size: cover;
  height: 950px;
}

section > article {
  width: 500px;
  border-bottom: 10px solid $burnt;
  text-align: center;
  padding: 50px 15px;
  margin: 49px auto;

  h4 {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.about {
  background: $black;
  color: $white;

  article {
    margin: 1px auto 50px;
    height: 160px;
  }
}

.rewards {
  background: url('../images/SS_copies_large.png') no-repeat;
  background-size: cover;

  article {
    max-width: 500px;
    min-height: 160px;
    background: $white;
  }
}

.rules {
  background: $burnt;
  color: $white;
  text-align: center;
  padding: 75px 0;
  font-size: 16px;
  font-weight: lighter;
  line-height: 16px;
  border-bottom: 10px solid $black;

  .section-title {
    margin-bottom: 0;
  }

  a {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    color: #1A1A1A;
    margin-bottom: 30px;

  }
  
  ul {
    width: 40%;
    float: right;
    text-align: left;

    li {
      padding: 10px;
    }
  }
  
  ul.one {
    float: left;
  }
}

.submission {
    h4 {
      margin-bottom: 45px;
    }
}

.terms {
  background: $black;
  color: $white;
  line-height: 23px;
  > article {
    width: 500px;
    text-align: center;
    padding: 0px 15px;
    margin: 45px auto;
    border: none;
    font-weight: lighter;

    .section-title {
      margin-bottom: 35px;
    }

    p {
      @include light();
      font-size: 12px;
    }
    .section-title {
       font-size: 14px;
    }
  }
}



/* responsive youtube embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* media queries yuck */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .navbar .brand {
    margin-left: 10px;
  }

  .hero-unit {
    h2 {
      font-size: 30px;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .hero-unit {
    h2 {
      font-size: 30px;
    }
  }
}